<div @inOutAnimation class="grid">
    <div class="column">
        <h2>About</h2>
        <p id="careerBlurb">{{aboutMyCareer}}</p>
    </div>
    <div class="column">
        <img src="../../assets/about_me_portrait.jpg" id="portrait">
        <p id="personalBlurb">{{aboutMe}}</p>
    </div>
</div>

<div id="bottom">
    <img class="logo" src="../../assets/csharp_logo.png" />
    <img class="logo" src="../../assets/python_logo.png" />
    <img class="logo" src="../../assets/javascript_logo.png" />
    <img class="logo" src="../../assets/sql_logo.png" />
    <img class="logo" src="../../assets/git_logo.png" />
</div>
