h2 {
    color: white;
    font-size: 80px;
    text-align: left;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 4%;
}

h3 {
    font-size: 50px;
    padding-left: 4%;
}

h4 {
    font-size: 40px;
    margin-top: 0%;
    margin-bottom: 0%;
}

p {
    color: white;
    font-size: 20px;
}

table {
    width: 80%;
}

tr {
    height: 100px;
}

.logo {
    width: 100px;
    height: 100px;
    padding-right: 4%;
    float: left;
}

.column {
    flex-direction: column;
    width: 75%;
}

.section {
    flex-direction: row;
    padding-left: 10%;
    padding-bottom: 4%;
}

.job-date {
    font-size: 25px;
}

.job-description {
    font-size: 20px;
}

#personal-blurb {
    flex-direction: row;
    padding-left: 8%;
    padding-bottom: 4%;
}

#portrait {
    position: fixed;
    width: 400px;
    height: 550px;
    margin-top: 5%;
    margin-left: -5%;
}