h2 {
    font-size: 80px;
    margin-top: 0px;
}

.grid {
    right: 5%;
    top: 5%;
    width: 50%;
    flex-direction: column;
}

.table-project-row {
    border: 1px solid gray;
    border-radius: 5px;
}

td:hover {
    border: 1px solid white;
}

table {
    border-spacing: 0 15px;
}