h2 {
    font-size: 80px;
    margin-top: 0px;
}

img {
    position: absolute;
    display: flex;
    float: left;
    top: 20%;
    left: 5%;
    width: 30%;
}

a {
    color: white;
    text-decoration: dotted;
    font-size: 25px;
    font-family: 'Barlow', sans-serif;
}

table {
    border-spacing: 0 15px;
}

.project-details-grid {
    right: 5%;
    top: 5%;
    width: 50%;
    flex-direction: column;
    position: absolute;
    display: flex;
    padding: 10%, 2%, 10%, 2%;
    margin: 1%;
    border-radius: 5px;
}

#backArrow {
    position: absolute;
    display: flex;
    float: left;
    top: 9%;
    left: 5%;
    width: 4%;
}

p {
    font-size: 20px;
}