@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

.grid {
    position: absolute;
    display: flex;
    padding: 10%, 2%, 10%, 2%;
    margin: 1%;
    border-radius: 5px;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow', sans-serif;
    color: white;
}

@import '../node_modules/ngx-toastr/toastr.css';