h1 {
    position: flex;
    font-family: 'Barlow', sans-serif;
    color: #fff;
    font-size: 100px;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 0;
}

h2 {
    position: flex;
    font-family: 'Barlow', sans-serif;
    color: #fff;
    font-size: 60px;
    font-weight: 300;
    line-height: 1em;
}

.grid {
    flex-direction: column;
    justify-content: center;
    top: 20%;
    left: 10%;
}

.logo {
    position: flex;
    width: 5%;
    height: 100%;
    margin-right: 2%;
}

#logogrid {
    flex-direction: row;
}